@import 'partials/setup';
@import 'partials/variables';

body {
	font-family: 'Nunito Sans', sans-serif;
	display: flex;
	font-size: 62.5%;
	// background-color: thistle;
	width: 100%;
	height: 100vh;
}

main {
	width: 100%;
	display: flex;
	align-items: center;
}

h1 {
	font-style: italic;
	font-weight: 300;
	font-size: 6.5rem;
	line-height: 6rem;
	// background: -webkit-linear-gradient(#eee, #333);
	background: rgba(252,236,252,1);
	background: -moz-linear-gradient(left, rgba(252,236,252,1) 0%, rgba(219,28,159,1) 48%, rgba(197,125,255,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(252,236,252,1)), color-stop(48%, rgba(219,28,159,1)), color-stop(100%, rgba(197,125,255,1)));
	background: -webkit-linear-gradient(left, rgba(252,236,252,1) 0%, rgba(219,28,159,1) 48%, rgba(197,125,255,1) 100%);
	background: -o-linear-gradient(left, rgba(252,236,252,1) 0%, rgba(219,28,159,1) 48%, rgba(197,125,255,1) 100%);
	background: -ms-linear-gradient(left, rgba(252,236,252,1) 0%, rgba(219,28,159,1) 48%, rgba(197,125,255,1) 100%);
	background: linear-gradient(to right, rgba(252,236,252,1) 0%, rgba(219,28,159,1) 48%, rgba(197,125,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcecfc', endColorstr='#c57dff', GradientType=1 );
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	margin-bottom: 0px;
}

label {
	font-size: 1.5rem;
}

textarea {
	width: 80%;
}

button {
	width: 80%;
	-webkit-appearance: none;
	-webkit-border-radius: 0px;
	-moz-appearance: none;
	-moz-border-radius: 0px;
	// border: 2px solid $colorDk;
	padding: 10px;
	margin-top: 30px;
	// font-family: $secondaryFont;
	// background-color: $colorDk;
	// color: $colorLt;
	// width: 150px;
	// &:hover {
	// 	background-color: $colorLt;
	// 	color: $colorDk;
	// 	border: 2px solid $colorDk;
	// }
}

img {
	width: 100%;
}

.inputContainer {
	width: 50%;
	padding: 30px;
	text-align: right;
	display: flex;
	flex-direction: column;
}

.cardImageContainer {
	width: 50%;
	padding: 30px;
	display: flex;
	justify-content: center;
}

.cardImage {
	width: 60%;
}

.returnedQuestion {
	// height: 100px;
}
