// fonts
$brandPrimary: 'Nunito Sans', sans-serif;

$colorPrimary: #f06e7f; // dark pink
$colorSecondary: #f0dfe1; // light pink

// media breakpoints
$lrg: ( max: 990px );
$med: ( max: 888px );
$sml: ( max: 615px );
